*{
    border: 0px solid rgb(117, 117, 117);
    border-radius: 5px;
    color: white;;
}

body{
    border-width: 5px;
    font-family: sans-serif;
    font-size: large;
    background-color: rgb(26, 26, 26);
}

.container {
    border-width: 2px;
    background-color: rgb(39, 44, 88);

    padding: 16px;
    margin: 16px;
}
.description{
    background-color: rgb(90, 114, 190);
    width: 800px;
    margin: 16px auto;
}

.other{
    display: inline-block;

    border-width: 5px;
    background-color: rgb(96, 101, 128);

    padding: 16px;
    margin: 16px;
}

.centered{
    text-align: center;
}
.large{
    font-size: x-large;
}

a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
li{
    margin: 8px 0px;
}